__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyo

.env
.venv
env/
venv/
ENV/

.vscode/
.idea/
*.swp
*.swo

*.log
*.bak

.DS_Store
Thumbs.db

*.mjpg
*.h264

*.o
*.out
*.a
*.bin

*.pid
*.socket

build/
dist/
